<!-- LINUX
Below are the possible workshop software, just comment out those that will
not be used for your workshop
-->

<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.

<div class="row-fluid">
<ol>
<!--
  <li><b>A spreadsheet program</b>
    <br>For this workshop you will need a spreadsheet program. LibreOffice comes
    preinstalled with several Linux distributions. If you don't already have it, use
    your package manager to install it: (e.g., <code>sudo apt-get install
    libreoffice</code> for Ubuntu and other Debian-based distributions).
</ul>
-->
	
<p>

  <li><b>Text Editor</b>
    <br>When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by <code>:q!</code> (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell. 
    nano is a basic editor and the default that instructors use in the workshop.
    It should be pre-installed.
    Other editors that you can use are:
    <ul>
      <li><a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>
      <li><a href="http://kate-editor.org/">Kate</a>
      <li><a href="http://www.sublimetext.com/">Sublime Text</a>
    </ul>
	
<p>

  <li><b>The Bash Shell</b>
    <br>Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly. The default shell is usually Bash, but if your 
    machine is set up differently you can run it by opening a terminal and 
    typing <code>bash</code>.  There is no need to install anything.
    
<p>

<!--
  <li><b>Git</b>
    <br><p>Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>. You will need a
    <a href="https://help.github.com/articles/supported-browsers/">supported</a>
    web browser (current versions of Chrome, Firefox or Safari,
    or Internet Explorer version 9 or above).
    
    <p>You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
    for keeping your email address private</a> provided at GitHub.
    
    <p>If Git is not already available on your machine you can try to
    install it via your distro's package manager. For Debian/Ubuntu run
    <code>sudo apt-get install git</code> and for Fedora run
    <code>sudo yum install git</code>.

-->
<!--

<p>

  <li><b>Python</b>
    <br><p><a href="http://python.org">Python</a> is a popular language for
    research computing, and great for general-purpose programming as
    well.  Installing all of its research packages individually can be
    a bit difficult, so we recommend
    <a href="https://www.continuum.io/anaconda">Anaconda</a>,
    an all-in-one installer.

    <p>Regardless of how you choose to install it,
      <strong>please make sure you install Python version 3.x</strong>
      (e.g., 3.4 is fine).
	   
    <p>We will teach Python using the IPython notebook, a programming environment
      that runs in a web browser. For this to work you will need a reasonably
      up-to-date browser. The current versions of the Chrome, Safari and
      Firefox browsers are all
      <a href="http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility">supported</a>
      (some older browsers, including Internet Explorer version 9
      and below, are not).
    <ul>
      <li>Open <a href="http://continuum.io/downloads">http://continuum.io/downloads</a> 
	      with your web browser.
      <li>Download the Python 3 installer for Linux.<br>
          (Installation requires using the shell. If you aren't
           comfortable doing the installation yourself
           stop here and request help at the workshop.)
      <li>Open a terminal window.
      <li>Type <pre>bash Anaconda3-</pre> and then press
          tab. The name of the file you just downloaded should
          appear. If it does not, navigate to the folder where you
          downloaded the file, for example with:
          <pre>cd Downloads</pre>
          Then, try again.
      <li>Press enter. You will follow the text-only prompts. To move through
          the text, press the space key. Type <code>yes</code> and
          press enter to approve the license. Press enter to approve the
          default location for the files. Type <code>yes</code> and
          press enter to prepend Anaconda to your <code>PATH</code>
          (this makes the Anaconda distribution the default Python).
      <li>Close the terminal window.
    </ul>

-->
	
<p>

  <li><b>R</b>
    <br>In the workshop, we will use RStudio. RStudio is a nice interface to the
    programming language R. To use RStudio, you need to install both R and RStudio.
    <ul>
      <li>Follow the instructions for your distribution
	from <a href="https://cloud.r-project.org/bin/linux/">CRAN</a>. For most distributions, you
	can use your package manager (e.g. for Debian/Ubuntu run <code>sudo
	apt-get install r-base</code>, and for Fedora run <code>sudo yum install
	R</code>) but make sure that you have at least R 3.2.2 (as pre-packaged
	versions might be out of date).
      <li>To install RStudio, go to
	the <a href="http://www.rstudio.com/ide/download/desktop">RStudio Download
	  page</a>
      <li>Under <i>Installers</i> select the version for your distribution.
      <li>Once it's downloaded, double click the file to install it (or <code>sudo dpkg
	  -i rstudio-x.yy.zzz-amd64.deb</code> at the terminal).
      <li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
    </ul>

<!--

<p>

  <li><b>OpenRefine</b>
    <br>OpenRefine (previously Google Refine) is a tool for data cleaning that runs
    through a web browser, and any browser - Safari, Firefox, Chrome, Explorer -
    should work fine.  You will need to download Google Refine and install it, and
    when you open it, it will run through the browser, but you don't need an
    internet connection, and the data will all be stored on your computer.
    <ul>
      <li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download
	page</a>
      <li>Click on <i>Linux kit</i> to download the install file
      <li>Download and extract
      <li>Type <code>./refine</code> in your terminal and Google Refine will then
      open in your web browser.
      <li>If it doesn't open automatically, open a web broswer after you've started
        the program and go to the URL <code>http://localhost:3333</code> and you should
        see OpenRefine.
    </ul>

-->

<p>
	
  <li><b>FTP Client (Filezilla)</b>
    <br>
    An FTP client will help you transfer files easily between your computer and the cloud.
    <ul>
      <li>Go to the Filezilla <a href="https://filezilla-project.org/download.php?show_all=1">download
	      page</a></li>
      <li>Chose the download link appropriate to your system</li>
      <li>To use it, double-click on the downloaded file</li>
      <li>Follow any installation instructions, if any</li>
      <li>At the workshop we will give you additional information (e.g. host, username, port) to connect</li>
    </ul>

<!--

<p>

  <li><b>SQLite</b>
    <br>
    For this workshop we're going to use the Firefox SQLite Plugin. It works through
    the web browser Firefox.
    <ul>
      <li>If you don't already have Firefox installed
	<a href="https://www.mozilla.org/en-US/firefox/new/">install Firefox</a></li>
      <li>Start Firefox</li>
      <li>Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.</li>
      <li> Click the "Add Now" button.</li>
      <li> Click "Install Now" on the dialog that appears after the download completes.</li>
      <li> Restart Firefox when prompted.</li>
      <li> Select "SQLite Manager" from the "Tools" menu and it will open within Firefox</li>
    </ul>

-->
<!--

<p>
	
  <li><b>IGV</b>
    <br>
    If time permits, we will use The Broad Institute's IGV (Integrated Genome Viewer) for
    looking at SAM and BAM files, SNPs, and variant calls.
    <ul>
      <li>To download IGV, please visit <a href="https://www.broadinstitute.org/software/igv/log-in">this page</a>
      and log in. Please register if you do not already have a login.</li>
      <li>Click on the large button for the Download Binary Distribution</li>
      <li>Find the zip archive on your computer and expand it</li>
      <li>To run IGV, double-click on the IGV.bat file.</li>
    </ul>

-->
	  
</ol>

</div>
